.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 600px;
  margin: 50px auto;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(99, 96, 96);
  padding: 0 5px;
  height: 30px;
  border-radius: 15px;
  width: 60%;
  margin-bottom: 30px;
}

input {
  border: none;
  outline: none;
  width: 100%;
  margin: 0 5px;
  padding: 0 5px;
  height: 24px;
  font-size: 18px;
} 


thead {
  font-size: 16px;
  background-color: rgb(218, 210, 210);
  padding: 3px;
  cursor: pointer;
}

table {
  border-collapse: 'collapse';
  width: 100%;
  font-size: 16px;
}

td {
  padding-left: 5px;
  border-bottom: 1px solid rgb(99, 96, 96);
}
